.calc{
  border: 3px solid #08631f;
  padding: 30px;
  max-width: 830px;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee Shade', cursive;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}
.values-forms {
  display: grid;
  margin-top: 17px;
}
input, select{
  height: 30px;
  padding-left: 10px;
}
span{
  margin-left: 5px;
}
label{
  font-size: 1.4em;
  text-align: center;
}
.resultado {
  background-color: #08631f;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: white;
}
.resultado span {
  font-size: 2em;
}